<div id='bg_img'>
	<img src="https://dl.dropboxusercontent.com/s/1qxxiy7zo716pdo/background_hq.png" alt="">
</div>

<div id='container'>
	<div class='form-container'>
		<%= form_for @guest do |f| %>
			<div>
			<%= f.text_field :full_name, disabled: true %>
			</div>
			<div>
				<span id="si-voy" >
					<%= f.label :attending, "Si voy!", :value => "true"  %>
					<%= f.radio_button :attending, true, disabled: true %>
				</span>
				<span id="no-voy" >
					<%= f.label :attending, "No voy.", :value => "false" %>
					<%= f.radio_button :attending, false, disabled: true %>
				</span>
			</div>
			<% if @guest.companions.count > 0%>
				<div class='subtitle'>
					<p>Acompanante(s) :</p>
				</div>
				<%= f.fields_for :companions do |c| %>
					<%= c.text_field :id, hidden: true %>
					<div>
						<%= c.text_field :full_name, placeholder: 'Nombre completo', disabled: true %>
					</div>
				<% end %>
			<%else%>
				<br>
			<% end %>
		<% end %>
		<div style='padding-top:1em;text-align:center;'>
			<%= link_to 'Editar', edit_guest_path(@guest)%>
		</div>
		<br><br><br>
	</div>
</div>

<script type="text/javascript">
	window.addEventListener("load", function(){
		if(document.body.offsetWidth > 1024){
			var src = "https://dl.dropboxusercontent.com/s/4i75doaame7pkmj/background_hq.png";
			document.getElementById('bg_img').children[0].src = src;
		};
	};
</script>